html 
    head
        title hello Pug Codes

    body 
        span(style='color:white; background-color:black')
            | Welcome to the pug sample Codes of #{name}
        br
        | Code developer #{name} #{surname}

        br
        include footer.pug